<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter username and password!!
                    </h6>
                </div>

                

                <form>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputUsername1" class="form-label">Username</label>
                          <input formControlName="username" type="username" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password"type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary" >
                            <a routerLink="/customerpage" class="Customer" onclick="window.location.href='/customerpage';"></a>
                           Login</button>
                      </form>
                </form>
                <a style="color:green;" routerLink="/signup">New User? Click to Signup!!</a>
            </div>
        </div>
    </div>
</div> 
