<div class="col-md-6 offset-md-3">
    <h3> Create Cart</h3>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label>foodItems</label>
            <input type="text" class="form-control" id="foodId"
                [(ngModel)]="cart.foodItems" name="foodItems">
        </div> 
    
        <div class="form-group">
            <label>price</label>
            <input type="text" class="form-control" id="price"
                [(ngModel)]="cart.price" name="price">
        </div>

        <div class="form-group">
            <label>quantity</label>
            <input type="text" class="form-control" id="quantity"
                [(ngModel)]="cart.quantity" name="quantity">
        </div>
        <br><br>
        <button class="btn btn-success" type="submit"> Submit</button>
    </form>
    </div>
