.navbar {
overflow: hidden;
background-color:rgb(18, 17, 16);
}
.navbar a {
float: left;
font-size: 20px;
color:rgb(250, 248, 248);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.dropdown {
float: right;
overflow: hidden;
font-size: 20px;
}
.dropdown .dropbtn {
font-size: 20px;
border: none;
outline: none;
color: white;
padding: 14px 15px;
background-color: inherit;
font-family: inherit;
margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
background-color:burlywoods;
}
.dropdown-content {
display: none;
position: absolute;
background-color:white;
min-width: 80px;
box-shadow: 0px 8px 10px 0px black;
 z-index: 1;
}
.dropdown-content a {
float: none;
color: black;
padding: 12px 8px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
 display: block;    
}
.signup{
    position: relative;
    left: 75px;
}
.login{
    position:relative;
    left: 50px;
    color:black;
    size: 10px;
}
.logo{
    height: 100vh;
    width: 205vh;
}
.h1{
     position:relative;
    text-align:center;
    bottom: 600px;
    color:whitesmoke;
    font-family:'Times New Roman';
    size: larger;
}
