       
        <div class="navbar">
            <div class="w3-right w3-hide-small">
            <a routerLink="/home" class="home"  onclick="myFunction()">Home</a>
            <a routerLink="/aboutus" class="about" onclick="myFunction()">About-Us</a>
            <a routerLink="/contactus" class="contact" onclick="myFunction()">Contact-Us</a>
           
        </div>
            <div class="dropdown">
                <button style="color: white" class="dropbtn">Login<i class="login"></i></button>
                <div class="dropdown-content">
                    <a href="#Restaurant" routerLink="/login" class="Restaurant" onclick="myFunction()">Restaurant Login</a>
                    <a href="#Customer" routerLink="/login" class="Farmer" onclick="myFunction()">Customer Login</a>
                    
                </div></div>
                <div class="dropdown">
                    <button style="color: white" class="dropbtn">SignUp<i class="signup"></i></button>
                    <div class="dropdown-content">
                        <a href="#Restaurant" routerLink="/signup" class="Restaurant" onclick="myFunction()">Restaurant</a>
                        <a href="#Customer" routerLink="/signup" class="Customer" onclick="myFunction()">Customer</a>
                    </div>

            </div>
            <img class="logo" src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg" alt="cropImage">
            <h1 class="h1" >FOOD DELIVERY APPLICATION</h1>

                   
                   

