<div class="col-md-8 offset-md-3">
<h3>Create Orders</h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label>orderItems</label>
        <input type="text" class = "form-control" id = "orderItems"
         [(ngModel)] = "order.orderItems" name = "orderItems">
     </div>
     <div class="form-group">
        <label>date</label>
        <input type="text" class = "form-control" id = "date"
         [(ngModel)] = "order.date" name = "date">
     </div>
     <div class="form-group">
        <label>status</label> 
        <input type="text" class = "form-control" id = "status"
         [(ngModel)] = "order.status" name = "status">
     </div>
     <div class="form-group">
        <label>deliveryAddress</label>
        <input type="text" class = "form-control" id = "deliveryAddress"
         [(ngModel)] = "order.deliveryAddress" name = "deliveryAddress">
     </div>
    <!--<div class="form-group">
        <label>customerId</label>
        <input type="text" class = "form-control" id = "customerId"
         [(ngModel)] = "order.customerId" name = "customerId">
     </div>
     <div class="form-group">
        <label>restaurantId</label>
        <input type="text" class = "form-control" id = "restaurantId"
         [(ngModel)] = "order.restaurantId" name = "restaurantId">
     </div>
     <div class="form-group">
        <label>cartId</label>
        <input type="text" class = "form-control" id = "orderId"
         [(ngModel)] = "order.orderId" name = "orderId">
     </div>-->
     
     <button class = "btn btn-success" type ="submit">Submit</button>
     
</form>
</div>