<h2>Restaurant</h2>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="/assets/restauarant - 1.jpg" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">Moon Bean</h4>
            <!-- <p class="card-text">Restaurant Details</p> -->
            <a class="btn" routerLink="/restauarant">Details</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <img src="/assets/restaurant-2.jpg" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Prism</h4>
              <!-- <p class="card-text">Restaurant Details</p> -->
              <a class="btn" routerLink="/restaurant">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <img src="/assets/restaurant-3.jpg" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Insomnia</h4>
              <!-- <p class="card-text">Restaurant Details</p> -->
              <a class="btn" routerLink="/restaurant">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   
  
