<div class="image">
    <br>
    <div class="card bg-dark text-white">
      <img src="https://media.istockphoto.com/id/1129113667/photo/got-a-problem-contact-us.jpg?s=612x612&w=0&k=20&c=XY6CdTS4PlkiS2rw_EWmJdg7_fG5o4t28xxL5GU9d0E=" class="card-img"
        alt="..." width="300vh" height="200vh">
      <div class="card-img-overlay">
        <br>
        <br>
        <br><br><br>
        <p class="card-text">
          EmailId:<b>helpdesk@gmail.com</b>
          <br>
          <br>
          Call us at:<b>866-818-6768</b>
        </p>
        <h2><i>Feel Free to Contact Us </i></h2>
      </div>
    </div>
  </div>
