.image{
    height: 40em;background-size: cover; width: auto;
    background-image: url('https://image.shutterstock.com/image-photo/abstract-blurred-beautiful-glowing-pastel-260nw-1039440307.jpg');
    background-position: 50% 50%;
}
.card{
    width:80vh;
    height: 50vh;
    text-align: center;
    border: none;
    align-items: center;
    background-position: center;
     margin: 0 auto; /* Added */
     float: none; /* Added */
    margin-bottom: 30px; /* Added */
    padding-top: 50px;

}