<h1><u>AboutUs</u></h1>
<div class="card bg-dark text-white">
  <img class="card-img" src="https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg?w=2000"></div>
  <div class="card-img-overlay">
    <p class="card-text">
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      A Web project to help customers enjoy every meal.
      <h2 class="h3">Scope</h2>
      <p class="scope">
        <br><br>Online food ordering is the process of ordering food, for delivery or pickup, from a website or other application. The product can be either ready-to-eat food <br>(e.g., direct from a home-kitchen, restaurant, or a virtual restaurant) or food that has not been specially prepared for direct consumption
      </p><br>
      <h2 class="acc">Our Best Accomplishments</h2>
        <ul class="ul">
          <li>Ordering process is easy.</li>
          <li>Online ordering is convenient.</li>
          <li>More business opportunities.</li>
          <li>Stay ahead of the competition.</li>
          
        </ul>
        <p class="cls"><br><br><br>Our technology platform connects customers,restaurant partners and delivery partners,serving their multiple needs.Customers use our platform to search and discover restaurants,read and write customer generated reviews and view and upload photos,order food delivery,book a table and make payments while dining-out at restaurants.On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service.
          We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.
  </div>
