<div class="navbar">

    <h1 class="h1">Admin</h1>

    <!-- <a routerLink="/viewAllFarmerDetails" class="fl" href="/#viewAllFarmerDetails" onclick="myFunction()"><b>Farmers List</b></a>

    <a routerLink="/viewAllSupplierDetails" class="sl" href="/#viewAllSupplierDetails" onclick="myFunction()"><b>Suppliers List</b></a>

    <a routerLink="/viewAllCompliantDetails" class="cl" href="/#viewAllCompliantDetails" onclick="myFunction()"><b>Compliaint List</b></a> -->

    <a routerLink="/login" class="log" href="/#login" onclick="myFunction()"><b>Logout</b></a>

    <a routerLink="/home" class="home" href="/#home" onclick="myFunction()"><b>Home</b></a>

    </div>